# Node.js projects
node_modules/
npm-debug.log
yarn-error.log
.env

# Python projects
__pycache__/
*.py[cod]
*.pyo
venv/
*.env

# Logs and temporary files
*.log
*.tmp
*.swp
*.swo
*.bak

# System files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/
*.iml

# Build directories
dist/
build/

# Serverless artifacts
.serverless/
